{{define "ROOT"}}
package models

func MongoDB(addr string) (data.DB, error) {
    db := mongo.NewDB()
    if err := db.Connect(addr); err != nil {
    return nil, err
    }
    db.SetName("test")

    {{range $index, $model := .Models}}
    db.RegisterKind({{name $model.Kind}}Kind, "{{$model.Space}}")
    {{end}}

    return db, nil
}
{{end}}
