{{define "ROOT"}}
package models

func MongoDB(addr string) (data.DB, error) {
    db, err := mongo.New(&mongo.Opts{Addr:addr})

    if err != nil {
        return db, err
    }

    db.SetName("test")

    {{range $index, $model := .Models}}
    db.RegisterKind({{name $model.Kind}}Kind, "{{$model.Space}}")
    {{end}}

    return db, nil
}
{{end}}
