{{define "ROOT"}}
package models

func ModelFor(k data.Kind) data.Record {
    switch k {
    {{range $index, $model := .Models}}
    case {{name $model.Kind}}Kind:
        return New{{name $model.Kind}}();
    {{end}}
    default:
        panic(fmt.Sprintf("uknown kind: %s", k))
    }
}
{{end}}
