{{define "ROOT"}}
    package models
    const (
    {{range $key, $model := .Models }}
        {{name $model.Kind}}Kind data.Kind = "{{$model.Kind}}"
    {{end}}
    )

    var Kinds = map[data.Kind]bool{
    {{range $key, $model := .Models }}
        {{name $model.Kind}}Kind: true,
    {{end}}
    }

    var Metis = map[data.Kind]*metis.Model{
    {{range $key, $model := .Models }}
        {{name $model.Kind}}Kind: {{ $model | printf "%#+v" }},
    {{end}}
    }
{{end}}
