{{define "OneAccessors"}}
{{template "Setter" $}}
{{template "Getter" $}}
{{template "OrCreate" $}}
{{end}}

{{define "Setter"}}
{{sig .Model}} Set{{name .This.Link.Name}}({{camel .Other.Kind}} {{.Other.Type}}) error {
    {{this .Model}}.{{linkFieldName .This.Link}} = {{camel .Other.Kind}}.ID().String()
    return nil
}
{{end}}

{{define "Getter"}}
{{sig .Model}} {{name .This.Link.Name}}(db data.DB) ({{.Other.Type}}, error) {
    if {{this .Model}}.{{linkFieldName .This.Link}} == "" {
        return nil, ErrEmptyLink
    }

    {{if .Other.IsPhysical}}
        {{camel .Other.Kind}} := New{{name .Other.Kind}}()
        pid, _ := mongo.ParseObjectID({{this .Model}}.{{linkFieldName .This.Link}})
        {{camel .Other.Kind}}.SetID(data.ID(pid.Hex()))
        return {{camel .Other.Kind}}, db.PopulateByID({{camel .Other.Kind}})
    {{else}}
        m := ModelFor(data.Kind({{this .Model}}.{{name .This.Link.Name}}Kind))
        {{camel .Other.Kind}} := m.({{.Other.Type}})

        pid, _ := mongo.ParseObjectID({{this .Model}}.{{linkFieldName .This.Link}})

        {{camel .Other.Kind}}.SetID(data.ID(pid.Hex()))
        return {{camel .Other.Kind}}, db.PopulateByID({{camel .Other.Kind}})
    {{end}}
}
{{end}}

{{define "OrCreate"}}
{{if .Other.IsPhysical}}
{{sig .Model}} {{name .This.Link.Name}}OrCreate(db data.DB) ({{.Other.Type}}, error) {
    {{camel .Other.Kind}}, err := {{this .Model}}.{{name .This.Link.Name}}(db)

    if err == ErrEmptyLink {
        {{camel .Other.Kind}} := New{{name .Other.Kind}}()
        {{camel .Other.Kind}}.SetID(db.NewID())
        if err := {{this .Model}}.Set{{name .This.Link.Name}}({{camel .Other.Kind}}); err != nil {
            return nil, err
        }

        if err := db.Save({{camel .Other.Kind}}); err != nil {
            return nil, err
        }

        if err := db.Save({{this .Model}}); err != nil {
            return nil, err
        }

        return {{camel .Other.Kind}}, nil
    } else {
        return {{camel .Other.Kind}}, err
    }
}
{{end}}
{{end}}
